OPENAI_API_KEY=sk-openai
OPENAI_ORGANIZATION=org-example

# WEAVIATE (vector store)
WEAVIATE_URL=http://weaviate:8080
WEAVIATE_APIKEY=topsecret

# Retriever REST api (FASTAPI endpoint)
RETRIEVER_URL=http://retriever:4502
RETRIEVER_APIKEY=supersecret

# Generator (QA system endpoint)
GENERATOR_URL=http://generator:4503

# Link to COSMOS API
COSMOS_URL=https://xdd.wisc.edu/askem/object

# Demo credential
# You can use `askem.dmeo.auth.store_demo_auth` function to generate these
DEMO_SALT=secure
DEMO_HASHED_PASSWORD=noplaintextpassword

# DEBUG flag (skip demo password check)
DEBUG=1
