ipywidgets
nltk
openai
python-dotenv
captum
pydantic==1.10.11
farm-haystack==1.16.1
weaviate-client==3.24.1
farm-haystack[weaviate]
farm-haystack[faiss]
bert-score
pytest
pre-commit
hatchling
streamlit
peewee
ipykernel
isort
gspread
