bert-score
captum
farm-haystack==1.16.1
gspread
hatchling
ipykernel
ipywidgets
isort
nltk
openai
peewee
pre-commit
pydantic>=2
pytest
pytest
pytest-asyncio
pytest-httpx
python-dotenv
spacy
streamlit
trulens_eval==0.20.0
unicodedata2
weaviate-client==3.25.3
pytest-asyncio
